html, body {
  margin: 0;
  padding: 0;
  outline: 0;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  background-color: #f5f5f5;
  color: #616161;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-stroke: 1px transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
}

.section {
  position: relative;
  padding-top: 15px;
  padding-bottom: 30px;
}

.section .section-title {
  margin-bottom: 18px;
}

.section .section-title .title-icon {
  margin-right: 20px;
  color: #06A763;
}

.section .section-title img {
  width: 66px;
  padding: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
  margin: -2px 12px 12px 12px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


/*set container size for specific screen sizes*/

@media (min-width:768px) {
  .container {
    width: 750px;
  }
}

@media (min-width:992px) {
  .container {
    width: 970px;
  }
}

@media (min-width:1200px) {
  .container {
    width: 1000px;
  }
}

h1, h2, h3, h4, h5, h6, span {
  font-family: 'Raleway', sans-serif;
}

h4 {
  font-size: 2.18rem;
  line-height: 110%;
  margin: 1.14rem 0 0.912rem 0;
}

p, a, li, label, input, div {
  font-family: 'Muli', sans-serif;
}

p {
  color: #757575;
}

a {
  color: #1976D2;
}

a:hover {
  color: #2988e6;
}

a:focus {
  color: #12579b;
}

h1 {
  font-weight: 700;
}

h2, h3, h4 {
  font-weight: 600;
}

h5, h6 {
  font-weight: 500;
}

p, a, li {
  font-weight: 400;
}

h6 {
  font-size: 1.4em;
}

.is-hidden {
  visibility: hidden;
}

.btn {
  padding-top: 8px;
}

.card {
  position: relative;
  background-color: #fff;
  transition: box-shadow .25s;
  -webkit-transition: box-shadow .25s;
  border-radius: 0 !important;
  margin: 8px 0;
}

.card .card-content {
  padding: 40px;
  border-radius: 0 0 2px 2px;
  float: right;
}

.card .card-content p {
  margin: 0;
  color: inherit;
  text-align: center;
}

.height-change {
  height: 548px !important;
  margin: -76px 3px 0 0px !important;
}

.middle {
  top: 170px !important;
  right: 430px !important;
}

@media screen and (max-width:767px) {
  .btn-holder {
    top: 102px;
    right: 0;
  }
  .btn-holder .btn-large {
    width: 36.5px;
    height: 36.5px;
  }
  .btn-holder .btn-large i {
    line-height: 1 !important;
    font-size: 26px !important;
  }
  .middle {
    top: 250px !important;
    right: 50px !important;
  }
}

@media screen and (max-width:660px) {
  .height-change {
    height: 440px !important;
    margin: -76px 3px 0 0px !important;
  }
}

@media screen and (max-width:500px) {
  .height-change {
    height: 300px !important;
    margin: -21px 3px 0 0px !important;
  }
}

@media screen and (min-width:769px) and (max-width:991px) {
  .middle {
    top: 170px !important;
    right: 340px !important;
  }
}


/*background image*/

#home .header-background {
  position: relative;
  display: block;
  width: 100%;
  height: 400px;
  background: url(../img/rutgers_university.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


/*card holder styling*/

#card-holder {
  overflow: visible;
  width: 100%;
  height: auto;
  margin-top: -194px;
}

#card-holder #v-card {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  -webkit-transition: height 1s, color 1s, margin 1s;
  transition: height 1s, color 1s, margin 1s;
  z-index: 1;
  background: #b30000;
  margin: -33px 3px 0 0;
}

#card-holder #v-card .info-headings {
  max-width: 514px;
}

#card-holder #v-card .info-headings h4 {
  display: block;
  width: 100%;
  font-weight: 900;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);
}

#card-holder #v-card .info-headings h6 {
  display: block;
  width: 100%;
  font-weight: 300;
  margin-top: -10px;
  margin-bottom: 30px;
  font-size: 1.2em;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);
}

#card-holder #v-card .info-headings h5 {
  display: block;
  width: 100%;
  font-weight: 300;
  margin-top: -10px;
  margin-bottom: 15px;
  font-size: 1.2em;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);
}

#card-holder #v-card .infos {
  max-width: 515px;
  margin-top: 99px;
}

#card-holder #v-card .infos .profile-list {}

#card-holder #v-card .infos .profile-list .title {
  display: block;
  float: left;
  color: #fff;
  line-height: 26px;
}

#card-holder #v-card .infos .profile-list .title i {
  font-size: 23px;
}

#card-holder #v-card .infos .profile-list .title .fa {
  padding-left: 2px;
}

#card-holder #v-card .infos .profile-list .content {
  display: block;
  margin-left: 30px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
}

@media screen and (max-width:990px) {
  #card-holder #v-card .infos {
    max-width: 278px;
  }
  #card-holder #v-card .info-headings {
    max-width: 270px;
  }
}

#card-holder #v-card #profile {
  position: absolute;
  z-index: 1;
}

#card-holder #v-card #profile img {
  width: 400px;
  height: auto;
}


/*card styling for xs size screen*/

@media screen and (max-width:767px) {
  #card-holder #v-card {
    position: relative;
    width: 100%;
    overflow: visible;
    z-index: 1;
    top: 34px;
  }
  #card-holder #v-card #profile {
    position: absolute;
    bottom: 85%;
    width: 150px;
    height: auto;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    z-index: 1;
    background-color: transparent;
  }
  #card-holder #v-card #profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
  #card-holder #v-card .infos {
    display: table;
    margin: 0 auto;
    max-width: 100%;
    padding: 0;
  }
  #card-holder #v-card .info-headings {
    max-width: 100%;
    text-align: center;
    margin-top: 38px;
  }
  #card-holder #v-card .info-headings h6 {
    margin-bottom: 20px;
  }
  #card-holder #v-card .card-content {
    padding: 10px;
  }
}

#projects #projects-card {
  overflow: hidden;
}

#projects #projects-card .project-content {
  /* margin: top right bottom left*/
  margin: 0 10px;
}

#projects #projects-card .project-content .grid figure figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#projects #projects-card .project-content .grid figure figcaption>a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#projects #projects-card .project-content figure.animate-up:hover figcaption::before {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#projects #projects-card .project-content figure.animate-up:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@media screen and (max-width:747px) {
  #projects #projects-card .project-content .big {}
}

@media (min-width:992px) {
  #projects #projects-card .project-content .big {
    width: 66.6%;
  }
}

#projects #projects-card .project-content .grid {
  position: relative;
  margin: 0 auto;
  padding: 5px 7px 7px 5px;
  /*  list-style: none; */
  text-align: center;
}

#projects #projects-card .project-content .grid figure {
  position: relative;
  float: left;
  margin: 0;
  width: 100%;
  background: transparent;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
  overflow: hidden !important;
  padding: 2px !important;
}

#projects #projects-card .project-content .grid figure img {
  position: relative;
  display: block;
  width: 100%;
  opacity: 0.8;
}

#projects #projects-card .project-content .grid figure figcaption {
  padding: 2em;
  color: #fff;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#projects #projects-card .project-content .grid figure figcaption>a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

#projects #projects-card .project-content .grid figure figcaption::before {
  pointer-events: none;
}

#projects #projects-card .project-content .grid figure figcaption::after {
  pointer-events: none;
}

#projects #projects-card .project-content .grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 100;
  font-size: 22px;
  margin: 0;
}

#projects #projects-card .project-content .grid figure h2 i {
  display: block;
  padding: 9px;
  margin-top: 24px;
  font-size: 48px;
}

#projects #projects-card .project-content .grid figure p {
  margin: 0;
  letter-spacing: 1px;
  font-size: 70.5%;
}

@media screen and (min-width:540px) and (max-width:766px) {
  #projects #projects-card .project-content .grid {
    max-width: 50%;
  }
}

#projects #projects-card .project-content figure.animate-up {}

#projects #projects-card .project-content figure.animate-up figcaption::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  content: '';
  opacity: 0;
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

#projects #projects-card .project-content figure.animate-up h2 {
  position: absolute;
  top: 55%;
  left: 0;
  width: 100%;
  color: rgba(72, 76, 97, 0.22);
  -webkit-transition: -webkit-transform 0.35s, color 0.35s;
  transition: transform 0.35s, color 0.35s;
}

#projects #projects-card .project-content figure.animate-up p {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2em;
  width: 100%;
  opacity: 0;
  color: #000;
}

#projects #projects-card .project-content figure.animate-up:hover {}

#projects #projects-card .project-content figure.animate-up:hover h2 {
  color: #b30000;
  -webkit-transform: translate3d(0, -50%, 0) translate3d(0, -10px, 0);
  transform: translate3d(0, -50%, 0) translate3d(0, -10px, 0);
}

#projects #projects-card .project-content figure.animate-scale {}

#projects #projects-card .project-content figure.animate-scale img {
  -webkit-transition: opacity 0.60s, -webkit-transform 0.60s;
  transition: opacity 0.60s, transform 0.60s;
}

#projects #projects-card .project-content figure.animate-scale figcaption {
  -webkit-transition: background-color 0.60s;
  transition: background-color 0.60s;
}

#projects #projects-card .project-content figure.animate-scale figcaption::before {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: -1px;
  right: -1px;
  background: rgba(0, 0, 0, 0.7);
  bottom: -1px;
  left: -1px;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.60s, -webkit-transform 0.60s;
  transition: opacity 0.60s, transform 0.60s;
}

#projects #projects-card .project-content figure.animate-scale h2 {
  position: absolute;
  top: 55%;
  left: 0;
  width: 100%;
  color: rgba(72, 76, 97, 0.22);
  -webkit-transition: -webkit-transform 0.35s, color 0.35s;
  transition: transform 0.35s, color 0.35s;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}

#projects #projects-card .project-content figure.animate-scale p {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2em;
  width: 100%;
  opacity: 0;
  color: #fff;
  -webkit-transition: opacity 0.60s, -webkit-transform 0.60s;
  transition: opacity 0.60s, transform 0.60s;
  -webkit-transform: scale(0);
  transform: scale(0);
}

#projects #projects-card .project-content figure.animate-scale:hover {}

#projects #projects-card .project-content figure.animate-scale:hover h2 {
  color: #b30000;
  -webkit-transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
  transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
  opacity: 1;
}

#projects #projects-card .project-content figure.animate-scale:hover figcaption::before {
  opacity: 1;
  background: rgba(0, 0, 0, 0.7);
}

#projects #projects-card .project-content figure.animate-scale:hover p {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

#projects #projects-card .project-content figure.animate-scale:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}


/**/
